<!-- <p>todos works!</p> -->

<!-- <ul>
    <li></li>
    <li></li>
    <li></li>
</ul> -->

<!-- ngFor - KINDA OF FOR LOOP - DIRECTIVE OF ANGULAR - CUSTOM HTML ATTRIBUTES -->
<!-- <ul *ngFor="let todo of todos">
    <li>{{todo.title}} - {{todo.title}} - {{todo.desc}} - {{todo.active}}</li>
</ul> -->

<app-add-todo (todoAdd)="addTodo($event)"></app-add-todo>

<h5>Your Todos</h5>

<div *ngIf="this.todos.length===0; else elseBlock">No Todos to Show</div>


<ng-template #elseBlock>

    <div *ngFor="let todo of todos; index as i">
        <app-todo-item  [todo]="todo"
                        [i] = "i"
                        (todoCheckBox) = "toggleTodo($event)"
                        (todoDelete)="deleteTodo($event)">
        </app-todo-item>
    </div>

</ng-template>